body {
    background-image:url("imagens/fundo33.jpg");
}

#capa {
    width: 100%;
    float: center;
}

.texto-principal {
    margin-right: 20%; 
}

h1 {
    color: #ffffff;
    text-align: center;
}
h3 {
    color:  #ffffff;
}
h2 {
    color:  #ffffff;
    text-align: center;
}
h4 {
    color:  #ffffff;
}
p {
    color:  #ffffff;
}
li {
    color:  #ffffff;
}
.itens {
	color:  blue;
	text-decoration: underline;
}
p {
    color:  #ffffff;
}
li {
    color:  #ffffff;
}
.itens {
	color: blue;
	text-decoration: underline;
}
th {
    color:  #ffffff;
}
td {
    color:  #ffffff;
}
#repete {
    color: rgb(50, 0, 27)
}
#mapa {
    width: 100%;
    float: center;
}
#rodape {
    width: 100%;
    float: center;
}