body {
    background-color:#000000;
}

}
#capa {
    width: 50%;
    border: 1px dotted rgb(255, 255, 255);
    float: center;
}

.texto-principal {
    margin-right: 20%; 
}

h1 {
    color: #600221;
    text-align: center;
}
h2 {
    color: #ffffff;
}
p {
    color:  #ffffff;
}
li {
    color:  #ffffff;
}
.itens {
	color:  #ffffff;
	text-decoration: underline;
}
h1 {
    color: #600221;
    text-align: center;
}
h2 {
    color:  #ffffff;
}
p {
    color:  #ffffff;
}
li {
    color:  #ffffff;
}
.itens {
	color: blue;
	text-decoration: underline;
}
th {
    color:  #ffffff;
}
td {
    color:  #ffffff;
}
#repete {
    color: black
}